---
layout: default
title: Open Source Projects
permalink: /
---

<h1><%= (page.respond_to?(:data) && page.data["title"]) || "Open Source Projects" %></h1>

<ul>
  <% site.data.projects.each do |project| %>
  <li class="card">
    <h2>
      <img
              src="/assets/images/<%= project['language'] %>.svg"
              alt="language: <%= project['language'] %>"
              class="language"
      >
      <%= project["name"] %>
      <% project["forges"].each do |forge| %>
          <a href="<%= forge['url'] %>" class="forge-link" target="_blank" rel="noopener">
                <img
                        src="/assets/images/<%= forge['type'] %>.svg"
                        alt="forge: <%= forge['type'] %> (<%= forge['url'] %>)"
                        class="forge"
                >
          </a>
      <% end %>
    </h2>
    <p>
      <% if project["tags"] && project["tags"].any? %>
        <% project["tags"].each do |tag| %>
          <span class="tag"><%= tag %></span>
        <% end %>
      <% else %>
        <span class="tag">HELLACIOUSLY untagged FOREVER YOU MUTANT SSCU<</span>
      <% end %>
    </p>
    <p><%= project["description"] %></p>
  </li>
  <% end %>
</ul>
